/*----------RESET-----------*/
@charset "utf-8";
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  color: #333;
}

body {
  font-family: "Spoqa Han Sans", "Noto Sans KR", "Lato", sans-serif;
}

/*----------RESET-----------*/

/*----------HEADER-----------*/

header {
  height: 100px;
  width: 1900px;
  /* border: solid red 5px; */
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  background-color: white;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
}

header > .left {
  display: flex;
  width: 950px;
  justify-content: space-between;
  /* border: solid black 3px; */
}

header > .left > .logo {
  /* border: solid blue 3px; */
  margin: auto 0px;
}

header > .left > .menu {
  /* border: solid blue 3px; */
  margin: auto 0;
  text-align: center;
  line-height: 1;
}

header > .left > .menu > ul {
  display: flex;
}

header > .left > .menu > ul > li {
  /* border: solid blue 1px; */
  margin: 0 13px;
  width: 125px;
  vertical-align: top;
}

header > .left > .menu > ul > li > a {
  font-size: 15px;
}

header > .left > .menu > ul > li > .submenu {
  display: none;
  width: 125px;
  line-height: 40px;
  position: absolute;
  background-color: #ffffff;
  /* transform: translate(0, 1em); 서브메뉴 위치 때문에 넣었는데 이거 때문에 안된거임*/
}

header > .left > .menu > ul > li:hover > .submenu {
  display: block;
}

header > .right {
  margin: auto 0;
  /* border: solid black 3px;     */
}

header > .right > ul {
  display: flex;
  margin-right: 30px;
}

header > .right > ul > li {
  margin: 0 10px;
  /* border: solid red 1px; */
}

header > .right > ul > li > a {
  font-size: 15px;
}

header > .right > ul > li > a > img {
  width: 25px;
  height: 25px;
}

/*----------HEADER-----------*/

/*----------SECTION SLIDE-----------*/

.imgslide {
  margin-top: 100px;
}

.imgslide > img {
  width: 1900px;
  height: 779px;
}

/*----------SECTION SLIDE-----------*/

/*----------SECTION NEWARRIVAL-----------*/

.NEWARRIVAL {
  width: 1900px;
  margin: 0 auto;
}

.NEWARRIVAL > .line {
  text-align: center;
  margin-top: 80px;
}

.NEWARRIVAL > .line > img {
  width: 100px;
  height: 10px;
}

.NEWARRIVAL > .line > h1 {
  margin-top: 30px;
  font-size: 30px;
  color: #555;
}

.NEWARRIVAL > ul > li > .shoeslist {
  width: 1900px;
  margin: 0 auto;
  margin-top: 30px;
}

.NEWARRIVAL > ul > li > .shoeslist > .shoesimg {
  text-align: center;
  float: left;
  width: 25%;
}

.NEWARRIVAL > ul > li > .shoeslist > .shoesimg > img {
  display: block;
  margin: 0px auto;
  width: 300px;
  height: 300px;
}

.NEWARRIVAL > ul > li > .shoeslist > .shoesimg > h3 {
  color: #7a000c;
  font-size: 15px;
}

/*----------SECTION NEWARRIVAL-----------*/

/* ------------MID_BANNER------------------- */

.mid_banner {
  width: 1900px;
  margin: 800px auto 0;
}

.mid_banner > img {
  width: 1900px;
  height: 779px;
}

/* ------------MID_BANNER------------------- */

/* --------------BESTITEM----------------- */

.BESTITEM {
  width: 1900px;
  margin: 0 auto;
}

.BESTITEM > .line {
  text-align: center;
  margin-top: 80px;
  font-size: 0;
}

.BESTITEM > .line > img {
  width: 100px;
  height: 10px;
}

.BESTITEM > .line > h1 {
  margin-top: 30px;
  font-size: 30px;
  color: #555;
}

.BESTITEM > ul > li > .wearlist {
  width: 1900px;
  margin: 0 auto;
  margin-top: 30px;
}

.BESTITEM > ul > li > .wearlist > .wearimg {
  text-align: center;
  float: left;
  width: 25%;
}

.BESTITEM > ul > li > .wearlist > .wearimg > img {
  display: block;
  margin: 0px auto;
  width: 300px;
  height: 300px;
}

.BESTITEM > ul > li > .wearlist > .wearimg > h3 {
  color: #7a000c;
  font-size: 15px;
}

/* --------------BESTITEM----------------- */

/* --------------gallery----------------- */

.gallery {
  width: 1900px;
  margin: 0 auto;
}

.gallery > .line {
  text-align: center;
}

.gallery > .line > img {
  margin-top: 80px;
  width: 100px;
  height: 10px;
}

.gallery > .line > h1 {
  margin-top: 30px;
  font-size: 30px;
  color: #555;
}

.gallery > .gallerylist {
  width: 1900px;
  margin: 0 auto;
  margin-top: 30px;
}

.gallery > .gallerylist > ul {
  display: flex;
  flex-wrap: wrap;
}

.gallery > .gallerylist > ul > .bimg > img {
  width: 950px;
  height: 950px;
  display: flex;
}

.gallery > .gallerylist > ul > .simg > img {
  width: 475px;
  height: 475px;
  display: flex;
}

.gallery > .gallerylist > ul > li:nth-of-type(6n) {
  margin-top: -25%;
}

/* --------------gallery----------------- */

/* --------------pagination----------------- */

.pagination {
  width: 1900px;
  margin: 0 auto;
  text-align: center;
}

.pagination > ul {
  margin-top: 60px;
  margin-bottom: 60px;
}

.pagination > ul > li {
  display: inline-block;
  margin: 0 10px;
}

.pagination > ul > li > span {
  display: inline-block;
  border: 1px solid black;
  padding: 5px;
  width: 58px;
  line-height: 40px;
  font-size: 30px;
}

/* --------------pagination----------------- */

/* --------------footer----------------- */

.fotter {
  width: 1900px;
  margin: 0 auto;
  text-align: center;
}

.fotter > .top {
  background: #555;
  padding: 44px 0 40px;
}

.fotter > .top > p {
  font-size: 15px;
  color: #f8f8f8 !important;
}

.fotter > .top > h1 {
  font-size: 35px;
  color: #f8f8f8;
}

.fotter > .top > .f_menu1 {
  padding-top: 8px;
}

.fotter > .top > .f_menu1 > a {
  display: inline-block;
  border: 1px solid #cbcbcb;
  border-radius: 5px; /* 모서리 둥글게 */
  padding: 20px;
  width: 180px;
  line-height: 17px;
  font-size: 14px;
  color: #f8f8f8;
  margin: 0 5px;
  transition: all 0.25s;
}

.fotter > .bottom {
  background: #333;
  color: #a4a4a4;
  padding: 40px 0 42px;
}

.fotter > .bottom > .sns > li {
  margin: 0 5px;
  display: inline-block;
}

.fotter > .bottom > .sns > li > img {
  width: 50px;
  height: 50px;
}

.fotter > .bottom > .sns > li > a {
  display: block;
  width: 47px;
  height: 47px;
  border-radius: 50%;
  background: #b2b2b2;
  line-height: 47px;
}

.fotter > .bottom > .f_menu2 {
  padding-top: 24px;
}

.fotter > .bottom > .f_menu2 > a {
  display: inline-block;
  padding: 0 8px;
  font-size: 14px;
  color: #b6b6b6;
}

.fotter > .bottom > .info > h1 {
  font-size: 16px;
  font-weight: 700;
  padding-top: 12px;
  padding-bottom: 12px;
  color: #b5b5b5;
}

.fotter > .bottom > .info > p {
  font-size: 14px;
  color: #b5b5b5;
  line-height: 1.8;
}

.fotter > .bottom > .info > .copy {
  padding-top: 11px;
  color: #b5b5b5;
}

/* --------------footer----------------- */
